.content{
    width: 100%;
    padding: 32px;
}
.header{
    margin-bottom: 44px;
}
.title{
    h2{
        font-size: $h4-font-size;
        font-weight: 700;
        line-height: 29px;
        margin-right: 46px;
        margin-bottom: 0;
    }
}
.dropdown-toggle{
    font-size: $h6-font-size;
    font-weight: 700;
    line-height: 19px;
    padding-left: 0;
    span{
        color:$secondary;
        margin-left: 7px;
    }
    &::after{
        display: none;
    }
}
.header-nav{
    margin-bottom: 0;
    a{
        color: $text-primary;
        margin-left: 27px;
        &:hover{
            color: $secondary;
        }
    }
}
.sub-title{
    p{
        margin-bottom: 0;
        color: $text-secondary;
        font-size: 12px;
        line-height: 15px;
    }
}
.assignment-list{
    border:  1px solid $border;
    border-bottom: none;
    min-width: 320px;
    li{
        border-bottom: 1px solid $border;
        p{
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 4px;
        }
        h4{
            font-size: $h6-font-size;
            line-height: 19px;
            margin-bottom: 0;
            font-weight: 700;
            span{
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #6c757d;
            }
        }
        a{
            padding: 12px;
            color: $text-primary;
            &:hover{
                background-color: $primary;
            }
        }
    }
}
.active{
    background-color: $primary;
}
.assignment-body{
    margin-left: 16px;
    p{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 4px;
    }
    h4{
        font-size: $h6-font-size;
        line-height: 19px;
        margin-bottom: 0;
        font-weight: 700;
    }
}
.message-header {
    padding: 12px;
    border: 1px solid $border;
    border-bottom: none;
    p{
        margin-bottom: 4px;
    }
    a{
        color: $text-primary;
    }
}
.message-body{
    padding: 0 32px 0 16px;
    border: 1px solid $border;
    margin-bottom: 16px;
    .user{
        margin-top: 16px;
    }
    img{
        margin-right: 8px;
    }
}
.message-main{
    margin-left: 48px;
    border-bottom: 1px solid $border;
    p{
        font-size: $font-size-sm;
        line-height: 21px;
        margin: 16px 0;  
        span{
            background-color: $primary;
            color: $secondary;
            padding: 0 4px;
        }
    }
    a{
        color: $text-primary;
        font-size: $h6-font-size;
        line-height: 24px;
        font-weight: 700;
        padding: 11px 16px 10px 12px;
        background-color: $primary;
        border: 1px solid $border;
        width: 176px;
        height: 40px;
        margin-bottom: 16.5px;
    }
}
.border-none{
    border: none;
}
.assignment-footer{
    button{
        background: none;
        border: none;
    }
    a{
        padding: 8px 32px;
        line-height: 19px;
        font-size: $h6-font-size;
        font-weight: 700;
        margin-left: 16px;
    }
}
.read{
    color: $secondary;
    border: 1px solid $secondary;
    &:hover{
        color: $border;
    }
}
.reply{
    background-color: $secondary;
    color: #FFFFFF;
    &:hover{
        color: $border;
    }
}
.reply-header{
    background-color: $primary;
    padding: 18px 25px;
    font-weight: 700;
    border: 1px solid $border;
    margin-bottom: 0;
    a{
        color: $text-primary;
        margin-right: 30px;
    }
}
.reply-body{
    textarea{
        padding: 16px 24px;
        width: 100%;
        border: 1px solid $border;
        border-top: none;
    }
    a{
        padding: 8px 32px;
        line-height: 19px;
        font-size: $h6-font-size;
        font-weight: 700;
        margin-left: 16px;
    }
}
.reply-card{
    position: absolute;
    width: 100%;
    top: 50px;
}