*,*::before,*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', 'Roboto Mono', monospace, sans-serif;
    font-size: $font-size-base;
    color: $text-primary;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    display: block;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

